@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body {
	font-family: monospace;
	background: black;
	color: white;
}

a {
	color: #c8d845;
}

.form {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 1em;
}

.centeralign {
	text-align: center;
}

.logo {
	width: 50%;
}

.title {
	margin-top: -0.1em;
	font-size: 5em;
}

.description {
	margin-top: -3em;
	font-size: 1.1em;
}

.bar-logo {
	width: 10em;
}

.navbar {
	text-align: center;
	list-style-type: none;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar > li {
	display: inline;
}

.bar-obj {
	margin: 0px 0.5em 0px 0.5em;
}

.error404 {
	display: flex;
	align-items: center;
	margin: auto;
	padding: 10px;
}

.image404 {
	width: 40%;
	padding-right: 30px;
}

.h1404 {
	font-size: 5em;
}

.content {
	display: block;
	align-items: center;
	margin: auto;
	width: 80%;
	padding: 10px 0px 30px 0px;
	font-size: 1.2em;
}

.footer-bar p{
	display: inline;
	padding: 0 0.5em 0 0.5em;
}

@media only screen and (max-width: 768px)
{
	.bar-logo {
		width: 20%;
	}

	.title {
		font-size: 2em;
		margin: 0 0 2em 0;
	}	

	.content {
		padding: 10px 0 2em 0;
	}
}
