{% extends "template.html" %}

{% block head_title %}
	<title>Pirates4Freedom – 404 Page</title>
{% endblock head_title %}
{% block content %}
<div class="error404">
	<img class="image404" src="/404p4f.svg" alt="A skull"/>
	<div>
		<h1 class="h1404">DEAD LINKS TELL NO TALES</h1>
		<h2>Error 404 - Sorry the page you are searching for doesn't exist</h2>
	</div>
</div>
{% endblock content %}
