{% extends "template.html" %}

{% block content %}
<h1 class="centeralign">About</h1>
<p>pirates4freedom has been created with one goal in mind: give people the keys to get themselves out of the corporate mess that Internet has become.</p>
<p>pirates4freedom offers guides written by the staff or that can be submitted by the community</p>
<p>pirates4freedom does not encourage malicious hacking. Every resources on this website are only for educational purpose.</p>
<br><p>To submit a new guide send an email to new-guides[at]pirates4freedom.net.<br>Your guide must be written in <a href="https://www.markdownguide.org/basic-syntax/">Markdown</a>, you also have to give the nickname under which we will publish the guide. Optionally you can give a link that will be connected to your nickname.<br>By submitting a guide, you agree that it will be published under the <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY license</a>.</p>
{% endblock content %}
