		<footer class="centeralign">
			<hr>
			<div class="footer-bar">
				<br><p><a href="/terms/legal-mentions/">Legal Mentions</a></p>
				<p><a href="/terms/coc/">Code of Conduct</a></p>
			</div>
			<p>Use our onion address: rahxfpexi5ziwcnfhj4gdkyruiqwmhmknvn3p6p7vhzbu4t6vd2opxqd.onion</p>
			<p>Use #PirateTheInternet on social networks</p>
			<p>If you want to support Pirates4Freedom you can donate here:</p>
			<p>ETH: 0x105E95b9D85aE1b6624AB7FB381a1a71Ef65C456</p>
			<p>BTC: 3CVrrjqmQs88B497KhsrNPnXF7GxVbNMgU</p>
			<p><a href="https://codeberg.org/Pirates4Freedom/www.pirates4freedom.net">sources</a></p>
			<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
		</footer>

