{% extends "template.html" %}

{% block content %}
<h1 class="centeralign">
	{{ section.title }}
</h1>
{% for page in section.pages %}
<h2><a href="/guides/{{ page.slug | safe }}">{{page.date}} - {{page.title}}</a></h2>
{% endfor %}
{% endblock content %}
