		<header>
			<div class="centeralign">
				<img class="bar-logo" src="/flagp4f.svg" alt="pirates4freedom.net's logo: two swords crossed behind a skull which has the top of itself as a stylized planet (which represents internet)" width="10%" height="auto"/>
			</div>
			<div>
				<ul class="navbar">
					<li><a class="bar-obj" href="/">Home</a></li>
					<li><a class="bar-obj" href="/guides/">Guides</a></li>
					<li><a class="bar-obj" href="/nassau/">Nassau</a></li>
					<li><a class="bar-obj" href="/about/">About</a></li>
				</ul>
			</div>
			<hr>
		</header>

