{% extends "template.html" %}

{% block content %}
<div class="centeralign">
	<img class="logo" src="/flagp4f.svg" alt="pirates4freedom.net's logo: two swords crossed behind a skull which has the top of itself as a stylized planet (which represents internet)"/>
</div>
<h1 class="title centeralign">PIRATES4FREEDOM</h1>
<p class="description centeralign">Internet is a place of freedom and should stay like that. Be a pirate and fight for your rights!</p>
{% endblock content %}
