{% extends "template.html" %}

{% block content %}
<h1 class="title">{{ page.title }}</h1>
<h2>- written by <a href="{{page.extra.authorLink}}">{{page.extra.author}}</a></h2>
<p>- {{ page.date }}</p>
{{ page.content | safe }}
{% endblock content %}
