{% extends "template.html" %}

{% block content %}
<h1 class="title centeralign">
	{{ section.title }}
</h1>
{% for page in section.pages %}
<h2><a href="{{ page.permalink | safe }}">{{page.title}}</a></h2>
{% endfor %}{% endblock content %}
